[submodule "home/.vim/bundle/Vundle.vim"]
	path = home/.vim/bundle/Vundle.vim
	url = https://github.com/prolixalias/Vundle.vim.git
[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = https://github.com/prolixalias/oh-my-zsh.git
